{% extends 'users/base.html' %}
{% load static %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'users/images/img-01.png' %}" alt="IMG">
				</div>

				<form action="{% url 'password_reset' %}" class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title">
						Password Reset
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type="email" class="input100" name="email" id="email" placeholder="Email" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Request Password Reset
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
